<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ElderMapper">
	
	<!--表名 -->
	<sql id="tableName">
		ELDER
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		E_NAME,	
		E_GENDER,	
		E_INTAKE,	
		E_IDENTITY,	
		E_IDATE,	
		E_SDATE,	
		E_LDATE,	
		E_AGE,	
		E_CENSUS,	
		E_ADDRESS,	
		E_TEL,	
		E_G_NAME,	
		E_G_REL,	
		E_G_TEL,	
		E_HEIGHT,	
		E_WEIGHT,	
		E_BTYPE,	
		E_VISSION,	
		E_HEARING,	
		E_MEMORY,	
		E_MIND,	
		E_RELIEVE,	
		E_STOLIC,	
		E_PULSE,	
		E_D_ALLERGY,	
		E_D_COMMON,	
		E_D_CHRONIC,	
		E_HNOTE,	
		E_A_SCORE,	
		E_A_LEVEL,	
		E_A_LEVELLIST,	
		E_AVATER,	
		E_PWD,	
		E_GMU_ID,	
		E_CTIME,	
		E_UTIME,
		E_GM_ID,	
		ELDER_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{E_NAME},	
		#{E_GENDER},	
		#{E_INTAKE},	
		#{E_IDENTITY},	
		#{E_IDATE},	
		#{E_SDATE},	
		#{E_LDATE},	
		#{E_AGE},	
		#{E_CENSUS},	
		#{E_ADDRESS},	
		#{E_TEL},	
		#{E_G_NAME},	
		#{E_G_REL},	
		#{E_G_TEL},	
		#{E_HEIGHT},	
		#{E_WEIGHT},	
		#{E_BTYPE},	
		#{E_VISSION},	
		#{E_HEARING},	
		#{E_MEMORY},	
		#{E_MIND},	
		#{E_RELIEVE},	
		#{E_STOLIC},	
		#{E_PULSE},	
		#{E_D_ALLERGY},	
		#{E_D_COMMON},	
		#{E_D_CHRONIC},	
		#{E_HNOTE},	
		#{E_A_SCORE},	
		#{E_A_LEVEL},	
		#{E_A_LEVELLIST},	
		#{E_AVATER},	
		#{E_PWD},	
		#{E_GMU_ID},	
		#{E_CTIME},	
		#{E_UTIME},	
		#{E_GM_ID},
		#{ELDER_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			ELDER_ID = #{ELDER_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			E_NAME = #{E_NAME},
			E_GENDER = #{E_GENDER},
			E_INTAKE = #{E_INTAKE},
			E_IDENTITY = #{E_IDENTITY},
			E_IDATE = #{E_IDATE},
			E_SDATE = #{E_SDATE},
			E_AGE = #{E_AGE},
			E_CENSUS = #{E_CENSUS},
			E_ADDRESS = #{E_ADDRESS},
			E_TEL = #{E_TEL},
			E_G_NAME = #{E_G_NAME},
			E_G_REL = #{E_G_REL},
			E_G_TEL = #{E_G_TEL},
			E_HEIGHT = #{E_HEIGHT},
			E_WEIGHT = #{E_WEIGHT},
			E_BTYPE = #{E_BTYPE},
			E_VISSION = #{E_VISSION},
			E_HEARING = #{E_HEARING},
			E_MEMORY = #{E_MEMORY},
			E_MIND = #{E_MIND},
			E_RELIEVE = #{E_RELIEVE},
			E_STOLIC = #{E_STOLIC},
			E_PULSE = #{E_PULSE},
			E_D_ALLERGY = #{E_D_ALLERGY},
			E_D_COMMON = #{E_D_COMMON},
			E_D_CHRONIC = #{E_D_CHRONIC},
			E_HNOTE = #{E_HNOTE},
			E_A_SCORE = #{E_A_SCORE},
			E_A_LEVEL = #{E_A_LEVEL},
			E_A_LEVELLIST = #{E_A_LEVELLIST},
			E_AVATER = #{E_AVATER},
			E_PWD = #{E_PWD},
			E_GMU_ID = #{E_GMU_ID},
			E_GM_ID=#{E_GM_ID},
		ELDER_ID = ELDER_ID
		where 
		ELDER_ID = #{ELDER_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			ELDER_ID = #{ELDER_ID}
	</select>
	<!-- zzy通过ID获取数据 -->
	<select id="zzyFindById" parameterType="java.lang.String" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			ELDER_ID = #{0}
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.E_GM_ID!= null and pd.E_GM_ID != ''">
			and E_GM_ID=#{pd.E_GM_ID}
		</if>
		<if test="pd.KEY_E_GM_ID!= null and pd.KEY_E_GM_ID != ''">
			and E_GM_ID=#{pd.KEY_E_GM_ID}
		</if>
		<if test="pd.TERM_GENDER!= null and pd.TERM_GENDER != ''">
			and E_GENDER=#{pd.TERM_GENDER}
		</if>
		<if test="pd.TERM_INTAKE!= null and pd.TERM_INTAKE!= ''">
			and E_INTAKE=#{pd.TERM_INTAKE} 
		</if>
		<if test="pd.TERM_IDATE_START!= null and pd.TERM_IDATE_START!= ''">
			and E_IDATE&gt;=#{pd.TERM_IDATE_START} 
		</if>
		<if test="pd.TERM_IDATE_END!= null and pd.TERM_IDATE_END!= ''">
			and E_IDATE&lt;=#{pd.TERM_IDATE_END} 
		</if>

		<if test="pd.TERM_LDATE_START!= null and pd.TERM_LDATE_START!= ''">
			and E_LDATE&gt;=#{pd.KEY_E_LDATE_START} 
		</if>
		<if test="pd.TERM_LDATE_END!= null and pd.TERM_LDATE_END!= ''">
			and E_LDATE&lt;=#{pd.TERM_LDATE_END} 
		</if>
		
		<if test="pd.TERM_SDATE_START!= null and pd.TERM_SDATE_START!= ''">
			and E_SDATE&gt;=#{pd.KEY_E_SDATE_START} 
		</if>
		<if test="pd.TERM_SDATE_END!= null and pd.TERM_SDATE_END!= ''">
			and E_SDATE&lt;=#{pd.TERM_SDATE_END} 
		</if>
		
		<if test="pd.TERM_AGE_START!= null and pd.TERM_AGE_START!= ''">
			and E_AGE&gt;=#{pd.TERM_AGE_START} 
		</if>
		<if test="pd.TERM_AGE_END!= null and pd.TERM_AGE_END!= ''">
			and E_AGE&lt;=#{pd.TERM_AGE_END} 
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="E_GM_ID!= null and E_GM_ID != ''">
			and E_GM_ID=#{E_GM_ID}
		</if>
		<if test="TERM_GM_ID!= null and TERM_GM_ID != ''">
			and E_GM_ID=#{TERM_GM_ID}
		</if>
		<if test="TERM_GENDER!= null and TERM_GENDER != ''">
			and E_GENDER=#{TERM_GENDER}
		</if>
		<if test="TERM_INTAKE!= null and TERM_INTAKE!= ''">
			and E_INTAKE=#{TERM_INTAKE} 
		</if>
		<if test="TERM_IDATE_START!= null and TERM_IDATE_START!= ''">
			and E_IDATE&gt;=#{TERM_IDATE_START} 
		</if>
		<if test="TERM_IDATE_END!= null and TERM_IDATE_END!= ''">
			and E_IDATE&lt;=#{TERM_IDATE_END} 
		</if>

		<if test="TERM_LDATE_START!= null and TERM_LDATE_START!= ''">
			and E_LDATE&gt;=#{pd.KEY_E_LDATE_START} 
		</if>
		<if test="TERM_LDATE_END!= null and TERM_LDATE_END!= ''">
			and E_LDATE&lt;=#{TERM_LDATE_END} 
		</if>
		
		<if test="TERM_SDATE_START!= null and TERM_SDATE_START!= ''">
			and E_SDATE&gt;=#{KEY_E_SDATE_START} 
		</if>
		<if test="TERM_SDATE_END!= null and TERM_SDATE_END!= ''">
			and E_SDATE&lt;=#{TERM_SDATE_END} 
		</if>
		
		<if test="TERM_AGE_START!= null and TERM_AGE_START!= ''">
			and E_AGE&gt;=#{TERM_AGE_START} 
		</if>
		<if test="TERM_AGE_END!= null and TERM_AGE_END!= ''">
			and E_AGE&lt;=#{TERM_AGE_END} 
		</if>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			ELDER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<!-- zzy 根据老人姓名检测老人信息是否存在 -->
	<select id="zzyCheckByName" parameterType="pd" resultType="java.lang.String">
		select ELDER_ID from 
		<include refid="tableName"></include>
		where E_NAME=#{E_NAME} and E_GM_ID=#{E_GM_ID}
	</select>
	<select id="zzyFindNameById" parameterType="java.lang.String" resultType="java.lang.String">
		select E_NAME from 
		<include refid="tableName"></include>
		where ELDER_ID=#{0}
	</select>
	<select id="zzyFindGmidById" parameterType="java.lang.String" resultType="java.lang.String">
		select E_GM_ID from 
		<include refid="tableName"></include>
		where ELDER_ID=#{0}
	</select>
</mapper>