<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GMAitemMapper">
	
	<!--表名 -->
	<sql id="tableName">
		GM_GMAITEM
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		GMAI_NUMBER,	
		GMAI_GMAT_ID,	
		GMAI_SCORE,	
		GMAI_CONTENT,	
		GMAI_CTIME,	
		GMAI_UTIME,	
		GMAI_GMAT_NAME,	
		GMAI_GMAT_NUM,
		GMAI_GM_ID,	
		GMAITEM_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{GMAI_NUMBER},	
		#{GMAI_GMAT_ID},	
		#{GMAI_SCORE},	
		#{GMAI_CONTENT},	
		#{GMAI_CTIME},	
		#{GMAI_UTIME},	
		#{GMAI_GMAT_NAME},	
		#{GMAI_GMAT_NUM},
		#{GMAI_GM_ID},	
		#{GMAITEM_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			GMAITEM_ID = #{GMAITEM_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			GMAI_NUMBER = #{GMAI_NUMBER},
			GMAI_GMAT_ID = #{GMAI_GMAT_ID},
			GMAI_SCORE = #{GMAI_SCORE},
			GMAI_CONTENT = #{GMAI_CONTENT},
			GMAI_GM_ID = #{GMAI_GM_ID},
		GMAITEM_ID = GMAITEM_ID
		where 
		GMAITEM_ID = #{GMAITEM_ID}
	</update>
	<!-- zzy修改 -->
	<update id="zzyEdit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			GMAI_NUMBER = #{GMAI_NUMBER},
			GMAI_SCORE = #{GMAI_SCORE},
			GMAI_CONTENT = #{GMAI_CONTENT}
		where 
		GMAITEM_ID = #{GMAITEM_ID}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			GMAITEM_ID = #{GMAITEM_ID}
	</select>
	<!--zzy通过ID获取数据 -->
	<select id="zzyFindById" parameterType="String" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			GMAITEM_ID = #{0}
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.GMAI_GM_ID!= null and pd.GMAI_GM_ID != ''">
			and GMAI_GM_ID=#{pd.GMAI_GM_ID}
		</if>
		<if test="pd.GMAI_GMAT_ID!= null and pd.GMAI_GMAT_ID != ''">
			and GMAI_GMAT_ID=#{pd.GMAI_GMAT_ID}
		</if>
		<if test="pd.TERM_CONTENT!= null and pd.TERM_CONTENT != ''">
			and GMAI_CONTENT LIKE  CONCAT('%','${pd.TERM_CONTENT}','%' ) 
		</if>
		<if test="pd.TERM_SCORE_START!= null and pd.TERM_SCORE_START!= ''">
			and GMAI_SCORE&gt;=#{pd.TERM_SCORE_START} 
		</if>
		<if test="pd.TERM_SCORE_END!= null and pd.TERM_SCORE_END!= ''">
			and GMAI_SCORE&lt;=#{pd.TERM_SCORE_END} 
		</if>
		order by GMAI_GMAT_NUM,GMAI_NUMBER
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="GMAI_GM_ID!= null and GMAI_GM_ID != ''">
			and GMAI_GM_ID=#{GMAI_GM_ID}
		</if>
		<if test="GMAI_GMAT_ID!= null and GMAI_GMAT_ID != ''">
			and GMAI_GMAT_ID=#{GMAI_GMAT_ID}
		</if>
		<if test="TERM_CONTENT!= null and TERM_CONTENT != ''">
			and GMAI_CONTENT LIKE  CONCAT('%','${TERM_CONTENT}','%' ) 
		</if>
		<if test="TERM_SCORE_START!= null and TERM_SCORE_START!= ''">
			and GMAI_SCORE&gt;=#{TERM_SCORE_START} 
		</if>
		<if test="TERM_SCORE_END!= null and TERM_SCORE_END!= ''">
			and GMAI_SCORE&lt;=#{TERM_SCORE_END} 
		</if>
		order by GMAI_GMAT_NUM,GMAI_NUMBER
	</select>
	<!--  -->
	<select id="zzyList" parameterType="java.lang.String" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where GMAI_GM_ID = #{0}
	</select>
	<!-- 获取养老院某一类题目 -->
	<select id="zzyListByType" parameterType="java.lang.String" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where
		GMAI_GMAT_ID= #{0}
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			GMAITEM_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>