<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GMMapper">
	
	<!--表名 -->
	<sql id="tableName">
		GM
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		GM_NAME,	
		GM_AVATER,	
		GM_ADDRESS,	
		GM_TEL,	
		GM_CONCAT,	
		GM_NATURE,	
		GM_SQUARE,	
		GM_BERTH_COUNT,	
		GM_DESCRIPTION,	
		GM_RECEIVE,	
		GM_FEEDESC ,	
		GM_SERVEINFO,	
		GM_LICENCE_PHOTO,	
		GM_LEGALPERSON_PHOTOA,	
		GM_LEGALPERSON_PHOTOB,	
		GM_CKSTATUS,	
		GM_CKDESC,	
		GM_AU_ID,	
		GM_PRAISE,
		GM_CTIME,	
		GM_UTIME,	
		GM_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{GM_NAME},	
		#{GM_AVATER},	
		#{GM_ADDRESS},	
		#{GM_TEL},	
		#{GM_CONCAT},	
		#{GM_NATURE},	
		#{GM_SQUARE},	
		#{GM_BERTH_COUNT},	
		#{GM_DESCRIPTION},	
		#{GM_RECEIVE},	
		#{GM_FEEDESC },	
		#{GM_SERVEINFO},	
		#{GM_LICENCE_PHOTO},	
		#{GM_LEGALPERSON_PHOTOA},	
		#{GM_LEGALPERSON_PHOTOB},	
		#{GM_CKSTATUS},	
		#{GM_CKDESC},	
		#{GM_AU_ID},	
		#{GM_PRAISE},
		#{GM_CTIME},	
		#{GM_UTIME},	
		#{GM_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			GM_ID = #{GM_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			GM_NAME = #{GM_NAME},
			GM_AVATER = #{GM_AVATER},
			GM_ADDRESS = #{GM_ADDRESS},
			GM_TEL = #{GM_TEL},
			GM_CONCAT = #{GM_CONCAT},
			GM_NATURE = #{GM_NATURE},
			GM_SQUARE = #{GM_SQUARE},
			GM_BERTH_COUNT = #{GM_BERTH_COUNT},
			GM_DESCRIPTION = #{GM_DESCRIPTION},
			GM_RECEIVE = #{GM_RECEIVE},
			GM_FEEDESC  = #{GM_FEEDESC },
			GM_SERVEINFO = #{GM_SERVEINFO},
			GM_LICENCE_PHOTO = #{GM_LICENCE_PHOTO},
			GM_LEGALPERSON_PHOTOA = #{GM_LEGALPERSON_PHOTOA},
			GM_LEGALPERSON_PHOTOB = #{GM_LEGALPERSON_PHOTOB},
			GM_CKSTATUS = #{GM_CKSTATUS},
			GM_CKDESC = #{GM_CKDESC},
			GM_AU_ID = #{GM_AU_ID},
			GM_UTIME=#{GM_UTIME},
		GM_ID = GM_ID
		where 
		GM_ID = #{GM_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			GM_ID = #{GM_ID}
	</select>
	<!-- 通过ID获取名称 -->
	<select id="zzyFindNameById" parameterType="java.lang.String" resultType="java.lang.String">
		select GM_NAME
		from
		<include refid="tableName"></include>
		where 
			GM_ID=#{0}
	</select>
	<!-- 通过名称获取 ID-->
	<select id="zzyFindIdByName" parameterType="java.lang.String" resultType="java.lang.String">
		select GM_ID
		from
		<include refid="tableName"></include>
		where 
			GM_NAME like CONCAT(CONCAT('%', #{0}),'%')
		limit 1
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.KEY_GM_CKSTATUS!= null and pd.KEY_GM_CKSTATUS!= ''"><!-- 关键词检索 -->
			and GM_CKSTATUS=#{pd.KEY_GM_CKSTATUS}
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			GM_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 列表(创建人__名称，编号) -->
	<select id="listCreator"  resultType="java.util.Map">
		select GM_ID,GM_NAME from GM;
	</select>
</mapper>